<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Department</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Edit Department</h1>
    <form th:action="@{/departments/update/{id}(id=${department.id})}" method="post">
        <div class="form-group">
            <label for="name">Department Name</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${department.name}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Department</button>
    </form>
</div>
</body>
</html>